<h2>Editar Dados</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: "Senha", autocomplete: "off", hint: "Deixe em branco se você não quiser alterá-lo", required: false %>
    <%= f.input :password_confirmation, label: "Confirmação de Senha", required: false %>
    <%= f.input :current_password, label: "Senha Atual" ,hint: "É necessário sua senha atual para fazer as alterações", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>
