<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to "Taxi 5 Estrelas", root_path, class: "navbar-brand" %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_page?(root_path) %>
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#home">Home</a>
          </li>
          <li class="page-scroll">
            <a href="#app">Aplicativo</a>
          </li>
          <li class="page-scroll">
            <a href="#promocao">Promoção</a>
          </li>
          <li class="page-scroll">
            <a href="#contato">Contato</a>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<% if current_page?(welcome_index_path) || current_page?(root_path) %>
<% elsif current_page?(app_path) %>
  <div class="container_carrossel">
    <!-- Carrossel -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="item_app">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("abertura.png") %>
        <div class="carousel-caption">
          <h3>Aplicativo Taxi 5 Estrelas</h3>
          <p>Baixe Agora Mesmo no Google Play ou no App Store.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("instalado.png") %>
        <div class="carousel-caption">
          <h3>Facilmente encontrado no Google Play</h3>
          <p>Procure por Taxi 5 Estrelas e nos encontrará facilmente.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("inicial.png") %>
        <div class="carousel-caption">
          <h3>Sua Localização</h3>
          <p>Utilizamos geolocalização para você acompanhar em tempo real onde está seu taxi.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("login.png") %>
        <div class="carousel-caption">
          <h3>Utilize o Facebook</h3>
          <p>Para facilitar, utilize o facebook para criar sua conta.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("nova_conta.png") %>
        <div class="carousel-caption">
          <h3>Criar Conta</h3>
          <p>Ou crie sua conta preenchendo um pequeno formulário.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("menu.png") %>
        <div class="carousel-caption">
          <h3>Menu Simples</h3>
          <p>Menu simples e intuítivo para um fácil manuseio.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("agendamento.png") %>
        <div class="carousel-caption">
          <h3>Agende sua corrida</h3>
          <p>Marque o horário que deseja evitando atrasos.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("pagamento.png") %>
        <div class="carousel-caption">
          <h3>Formas de Pagamento</h3>
          <p>Possuímos diversas formas de pagamento, aproveite os descontos.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("tutorial.png") %>
        <div class="carousel-caption">
          <h3>Aprenda a usar nosso Aplicativo</h3>
          <p>Não sabe como usar nosso aplicativo? Problema resolvido mostramos onde ir para utilizar o Aplicativo Taxi 5 Estrelas.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<!-- Final do Carrossel -->

  </div>
<% end %>
