<br><br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><span class="name">Aplicativo Taxi 5 Estrelas</span></h2>
        <hr class="star-primary">
        <!-- Carrossel -->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("abertura.png") %>
            <div class="carousel-caption">
              <h3>Aplicativo Taxi 5 Estrelas</h3>
              <p>Baixe Agora Mesmo no Google Play ou no App Store.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("instalado.png") %>
            <div class="carousel-caption">
              <h3>Facilmente encontrado no Google Play</h3>
              <p>Procure por Taxi 5 Estrelas e nos encontrará facilmente.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("inicial.png") %>
            <div class="carousel-caption">
              <h3>Sua Localização</h3>
              <p>Utilizamos geolocalização para você acompanhar em tempo real onde está seu taxi.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("login.png") %>
            <div class="carousel-caption">
              <h3>Utilize o Facebook</h3>
              <p>Para facilitar, utilize o facebook para criar sua conta.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("nova_conta.png") %>
            <div class="carousel-caption">
              <h3>Criar Conta</h3>
              <p>Ou crie sua conta preenchendo um pequeno formulário.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("menu.png") %>
            <div class="carousel-caption">
              <h3>Menu Simples</h3>
              <p>Menu simples e intuítivo para um fácil manuseio.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("agendamento.png") %>
            <div class="carousel-caption">
              <h3>Agende sua corrida</h3>
              <p>Marque o horário que deseja evitando atrasos.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("pagamento.png") %>
            <div class="carousel-caption">
              <h3>Formas de Pagamento</h3>
              <p>Possuímos diversas formas de pagamento, aproveite os descontos.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("tutorial.png") %>
            <div class="carousel-caption">
              <h3>Aprenda a usar nosso Aplicativo</h3>
              <p>Não sabe como usar nosso aplicativo? Problema resolvido mostramos onde ir para utilizar o Aplicativo Taxi 5 Estrelas.</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>

<!-- Final do Carrossel -->
      <center>
        <p>
          <h4>FAÇA DOWNLOAD AGORA MESMO</h4>
          <table>
            <tr>
              <td>
                <a href="#" target="_blank"><%= image_tag("appstore2.png", class: "img-responsive center app_android") %></a>
              </td>
              <td>
                <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
              </td>
            </tr>
          </table>
        <p>
      </center>
      <h2></h2>
      <hr class="star-primary">

    <div class="container">
        <div class="row">
          <div class="col-sm-4">
              <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                      <div class="device">
                          <div class="screen">
                              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                            <%= image_tag("em_pe.png", class: "img-responsive") %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-sm-8">
                <div class="header-content">
                    <div class="header-content-inner">

                          <p class="text-muted">Oferecemos descontos de 20% nas corridas em dinheiro, no cartão o desconto permanece, mas é  a partir de 15,00 reais.</p><br>
                          <p class="text-muted">Mais praticidade e rapidez para você!</p><br>
                          <p class="text-muted">O aplicativo Táxi 5 estrelas é muito prático e fácil de usar, com ele você solicita corrida  do seu smartphone onde estiver de forma rápida,porém com eficiência e segurança.Com apenas um clique você recebe informações sobre o motorista, localização, dados do veiculo e acompanha o trajeto.</p><br>
                          <p class="text-muted">Para utilizar o APP, basta fazer o download do aplicativo e instalar em seu aparelho, em seguida realize um cadastro simples com nome, telefone e e-mail (opcional).Depois pode começar a utilizar o nosso serviço.</p><br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vantagens em usar nosso aplicativo</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-dollar text-primary sr-icons"></i>
                        <h3>Gratuíto</h3>
                        <p class="text-muted">Você pode baixar ele gratuítamente.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-taxi text-primary sr-icons"></i>
                        <h3>Praticidade</h3>
                        <p class="text-muted">Com aplicativo torna-se mais fácil chamar um táxi, pois é localizado o mais próximo de você.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Simulação</h3>
                        <p class="text-muted">Nosso APP oferece a opção de informar o valor aproximado da corrida*.</p>
                   </div>
               </div>
               <div class="col-lg-3 col-md-6 text-center">
                   <div class="service-box">
                       <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                       <h3>Iphone e Android</h3>
                       <p class="text-muted">Disponível no Play Store e App Store para os usuários de Android e IPhone</p>
                   </div>
               </div>
           </div>
       </div>
   </section>


<!--
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                      <h4>
                        <p><b>Totalmente Gratuito <%= icon('dollar') %><%= icon('dollar') %>.</b></p>
                        <p>Você não paga nada para baixar nosso aplicativo.</p>
                        <br><br>
                        <p><b>Praticidade</b></p>
                        <p>Com aplicativo torna-se mais fácil chamar um táxi, pois é localizado o mais próximo de você.</p>
                        <p>Nosso APP oferece a opção de informar o valor aproximado da corrida,considerando  apenas a  distância da origem ao destino do cliente*.</p>
                      </h4>
                        <p><i>* Este valor é aproximado e desconsidera o tempo parado no trânsito, tempo de espera do passageiro entre outros.</i></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                 Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                                <%= image_tag("perspectiva.png", class: "img-responsive") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  -->
      <p><h4>FAÇA DOWNLOAD AGORA MESMO</h4></p>
      <br><br>
      <center>
        <p>
          <table>
            <tr>
              <td>
                <a href="#" target="_blank"><%= image_tag("appstore2.png", class: "img-responsive center app_android") %></a>
              </td>
              <td>
                <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
              </td>
            </tr>
          </table>
        <p>
      </center>
      </div>
    </div>
  </div>
</section>
