<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><span class="name">Aplicativo Taxi 5 Estrelas</span></h2>
        <hr class="star-primary">
        <center>
        <p>
          <h4>FAÇA DOWNLOAD AGORA MESMO</h4>
          <table>
            <tr>
              <td>
                <a href="https://itunes.apple.com/us/app/taxi-5-estelas/id1187874745?mt=8" target="_blank"><%= image_tag("appstore.svg", class: "img-responsive center app_android") %></a>
              </td>
              <td>
                <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
              </td>
            </tr>
          </table>
        <p>
      </center>
      <h2></h2>
      <hr class="star-primary">

    <div class="container">
        <div class="row">
          <div class="col-sm-4">
              <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                      <div class="device">
                          <div class="screen">
                              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                            <%= image_tag("em_pe.png", class: "img-responsive") %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-sm-8">
                <div class="header-content">
                    <div class="header-content-inner">

                          <p class="text-muted">Oferecemos descontos de 20% nas corridas em dinheiro, no cartão o desconto permanece, mas é  a partir de 15,00 reais.</p><br>
                          <p class="text-muted">Mais praticidade e rapidez para você!</p><br>
                          <p class="text-muted">O aplicativo Táxi 5 estrelas é muito prático e fácil de usar, com ele você solicita corrida  do seu smartphone onde estiver de forma rápida,porém com eficiência e segurança.Com apenas um clique você recebe informações sobre o motorista, localização, dados do veiculo e acompanha o trajeto.</p><br>
                          <p class="text-muted">Para utilizar o APP, basta fazer o download do aplicativo e instalar em seu aparelho, em seguida realize um cadastro simples com nome, telefone e e-mail (opcional).Depois pode começar a utilizar o nosso serviço.</p><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vantagens em usar nosso aplicativo</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-dollar text-primary sr-icons"></i>
                        <h3>Gratuíto</h3>
                        <p class="text-muted icon">Você pode baixar ele gratuítamente.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-taxi text-primary sr-icons"></i>
                        <h3>Praticidade</h3>
                        <p class="text-muted icon">Com aplicativo torna-se mais fácil chamar um táxi, pois é localizado o mais próximo de você.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Simulação</h3>
                        <p class="text-muted icon">Nosso APP oferece a opção de informar o valor aproximado da corrida*.</p>
                   </div>
               </div>
               <div class="col-lg-3 col-md-6 text-center">
                   <div class="service-box">
                       <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                       <h3>Iphone e Android</h3>
                       <p class="text-muted icon">Disponível no Play Store e App Store para os usuários de Android e IPhone</p>
                   </div>
               </div>
           </div>
       </div>
   </section>


<!--
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                      <h4>
                        <p><b>Totalmente Gratuito <%= icon('dollar') %><%= icon('dollar') %>.</b></p>
                        <p>Você não paga nada para baixar nosso aplicativo.</p>
                        <br><br>
                        <p><b>Praticidade</b></p>
                        <p>Com aplicativo torna-se mais fácil chamar um táxi, pois é localizado o mais próximo de você.</p>
                        <p>Nosso APP oferece a opção de informar o valor aproximado da corrida,considerando  apenas a  distância da origem ao destino do cliente*.</p>
                      </h4>
                        <p><i>* Este valor é aproximado e desconsidera o tempo parado no trânsito, tempo de espera do passageiro entre outros.</i></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                 Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                                <%= image_tag("perspectiva.png", class: "img-responsive") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  -->
      <p><h4>FAÇA DOWNLOAD AGORA MESMO</h4></p>
      <br><br>
      <center>
        <p>
          <table>
            <tr>
              <td>
                <a href="https://itunes.apple.com/us/app/taxi-5-estelas/id1187874745?mt=8" target="_blank"><%= image_tag("appstore.svg", class: "img-responsive center app_android") %></a>
              </td>
              <td>
                <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
              </td>
            </tr>
          </table>
        <p>
      </center>
      </div>
    </div>
  </div>
</section>
