<header id="page-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag("logo_transparente.png", class: "img-responsive logo") %>
        <center>
          <span class="abertura">Taxi 5 Estrelas</span>
          <br>
          <p style="color: #fff">Baixe Agora Mesmo no Google Play ou no App Store.</p>
          <br>
          <table>
            <tr>
              <td>
                <a href="https://itunes.apple.com/us/app/taxi-5-estelas/id1187874745?mt=8" target="_blank"><%= image_tag("appstore.svg", class: "img-responsive center app_android") %></a>
              </td>
              <td>
                <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </header>

  <section class="success" id="home">
    <div class="container_carrossel">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("abertura.png") %>
            <div class="carousel-caption">
              <h3>Aplicativo Taxi 5 Estrelas</h3>
              <p>Baixe Agora Mesmo no Google Play ou no App Store.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("cristo_maracana.jpg") %>
            <div class="carousel-caption">
              <h3>Cristo Redentor e Maracanã</h3>
              <p>Trabalhamos com City Tour e viagens!</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("bondinho.jpg") %>
            <div class="carousel-caption">
              <h3>Pão de Açucar</h3>
              <p>Trabalhamos com City Tour e viagens!</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("lage.jpg") %>
            <div class="carousel-caption">
              <h3>Parque Lage</h3>
              <p>Trabalhamos com City Tour e viagens!</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>

    <!-- Final do Carrossel -->

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <div class="intro-text">
            <center>
              <h2>Taxi 5 Estrelas</h2>
            </center>
            <hr class="star-light">
            <span class="skills">
              O Táxi 5 Estrelas busca transportar pessoas com eficiência e segurança, proporcionando aos
              nossos clientes um serviço especializado com legalidade, responsabilidade, qualidade, rapidez
              e pontualidade. Para cumprir com essa missão, dispomos de profissionais treinados, veículos
              regularizados, atendimento 24 horas, aplicativo táxi 5 estrelas e total disponibilidade para
              atender as necessidades de todos os nossos clientes.
              Contamos com uma frota de carros que atende todo Rio de Janeiro e Grande Rio de forma
              organizada e comprometida. Desta forma, convidamos você a conhecer o nosso serviço
              especializado de transporte.</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Aplicativo Section -->
    <section id="app">
      <div class="container_carrossel_app">
        <!-- Carrossel -->

        <div id="myCarousel_app" class="carousel slide app_carousel" data-ride="carousel" data-target="#app">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel_app" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel_app" data-slide-to="1"></li>
            <li data-target="#myCarousel_app" data-slide-to="2"></li>
            <li data-target="#myCarousel_app" data-slide-to="3"></li>
            <li data-target="#myCarousel_app" data-slide-to="4"></li>
            <li data-target="#myCarousel_app" data-slide-to="5"></li>
            <li data-target="#myCarousel_app" data-slide-to="6"></li>
            <li data-target="#myCarousel_app" data-slide-to="7"></li>
            <li data-target="#myCarousel_app" data-slide-to="8"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="item_app">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= image_tag("abertura.png") %>
                <div class="carousel-caption">
                  <h3>Aplicativo Taxi 5 Estrelas</h3>
                  <p>Baixe Agora Mesmo no Google Play ou no App Store.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("instalado.png") %>
                <div class="carousel-caption">
                  <h3>Facilmente encontrado no Google Play</h3>
                  <p>Procure por Taxi 5 Estrelas e nos encontrará facilmente.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("inicial.png") %>
                <div class="carousel-caption">
                  <h3>Sua Localização</h3>
                  <p>Utilizamos geolocalização para você acompanhar em tempo real onde está seu taxi.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("login.png") %>
                <div class="carousel-caption">
                  <h3>Utilize o Facebook</h3>
                  <p>Para facilitar, utilize o facebook para criar sua conta.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("nova_conta.png") %>
                <div class="carousel-caption">
                  <h3>Criar Conta</h3>
                  <p>Ou crie sua conta preenchendo um pequeno formulário.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("menu.png") %>
                <div class="carousel-caption">
                  <h3>Menu Simples</h3>
                  <p>Menu simples e intuítivo para um fácil manuseio.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("agendamento.png") %>
                <div class="carousel-caption">
                  <h3>Agende sua corrida</h3>
                  <p>Marque o horário que deseja evitando atrasos.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("pagamento.png") %>
                <div class="carousel-caption">
                  <h3>Formas de Pagamento</h3>
                  <p>Possuímos diversas formas de pagamento, aproveite os descontos.</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag("tutorial.png") %>
                <div class="carousel-caption">
                  <h3>Aprenda a usar nosso Aplicativo</h3>
                  <p>Não sabe como usar nosso aplicativo? Problema resolvido mostramos onde ir para utilizar o Aplicativo Taxi 5 Estrelas.</p>
                </div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
        </div>
        <!-- Final do Carrossel -->

      </div>


      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2><span class="name">Aplicativo Taxi 5 Estrelas</span></h2>
            <hr class="star-primary">
            <center>
              <p>
                <h4>FAÇA DOWNLOAD AGORA MESMO</h4>
                <table>
                  <tr>
                    <td>
                      <a href="https://itunes.apple.com/us/app/taxi-5-estelas/id1187874745?mt=8" target="_blank"><%= image_tag("appstore.svg", class: "img-responsive center app_android") %></a>
                    </td>
                    <td>
                      <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
                    </td>
                  </tr>
                </table>
                <p>
                </center>
                <h2></h2>
                <hr class="star-primary">

                <div class="container">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                          <div class="device">
                            <div class="screen">
                              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                              <%= image_tag("em_pe.png", class: "img-responsive") %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="header-content">
                        <div class="header-content-inner">
                          <% if Aplicativo.count != 0 %>
                            <% if !@app.first_paragraph.nil? %>
                            <p class="text-muted">
                              <%= @app.first_paragraph %>
                            </p><br>
                            <% end %>

                            <% if !@app.second_paragraph.nil? %>
                            <p class="text-muted">
                              <%= @app.second_paragraph %>
                            </p><br>
                            <% end %>

                            <% if !@app.third_paragraph.nil? %>
                            <p class="text-muted">
                              <%= @app.third_paragraph %>
                            </p><br>
                            <% end %>

                            <% if !@app.forth_paragraph.nil? %>
                            <p class="text-muted">
                              <%= @app.forth_paragraph %>
                            </p><br>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section id="services">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Vantagens em usar nosso aplicativo</h2>
                      <hr class="primary">
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                        <i class="fa fa-4x fa-dollar text-primary sr-icons"></i>
                        <h3>Gratuíto</h3>
                        <p class="text-muted icon" style="color: #777777">Você pode baixar ele gratuítamente.</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                        <i class="fa fa-4x fa-taxi text-primary sr-icons"></i>
                        <h3>Praticidade</h3>
                        <p class="text-muted icon" style="color: #777777">Com aplicativo torna-se mais fácil chamar um táxi, pois é localizado o mais próximo de você.</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Simulação</h3>
                        <p class="text-muted icon" style="color: #777777">Nosso APP oferece a opção de informar o valor aproximado da corrida*.</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                        <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                        <h3>Iphone e Android</h3>
                        <p class="text-muted icon" style="color: #777777">Disponível no Play Store e App Store para os usuários de Android e IPhone</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>


              <!-- Promoção Section -->
              <section class="success" id="promocao">
                <div class="container">
                  <div class="row">
                    <div class="box">
                      <div class="col-lg-12">
                        <h2 class="intro-text text-center">
                          <strong>Promoção</strong>
                        </h2>
                        <hr class="star-light">
                        <hr class="visible-xs">
                        <p>Baixe o nosso aplicativo na Play Store ou na Apple Store.<p>
                          <center>
                            <table>
                              <tr>
                                <td>
                                  <a href="https://itunes.apple.com/us/app/taxi-5-estelas/id1187874745?mt=8" target="_blank"><%= image_tag("appstore.svg", class: "img-responsive center app_android") %></a>
                                </td>
                                <td>
                                  <a href="https://play.google.com/store/apps/details?id=br.com.smartsis.taxion.t5&hl=pt_BR" target="_blank"><%= image_tag("app.png", class: "img-responsive center app_android") %></a>
                                </td>
                              </tr>
                            </table>

                            <p><%= image_tag("perspectiva.png", class: "img-responsive", size: "450x450") %> </p>
                          </center>

                          <% if @promocao.present? %>
                          <div class="intro-text">
                            <span class="skills"><%= @promocao.texto %></span>
                          </div>
                          <br><br>
                          <% end %>

                          <section id="services">
                            <div class="container">
                              <div class="row">
                                <div class="col-lg-3 col-md-6 text-center">
                                  <div class="service-box">
                                    <i class="fa fa-4x fa-taxi text-primary sr-icons"></i>

                                    <p class="text-muted icon">Realize suas corridas com a equipe 5 estrelas e ganhe 20% de desconto.</p>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-6 text-center">
                                  <div class="service-box">
                                    <i class="fa fa-4x fa-users text-primary sr-icons"></i>

                                    <p class="text-muted icon">Trabalhamos com profissionais treinados para oferecer  serviço de qualidade aos nossos clientes.</p>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-6 text-center">
                                  <div class="service-box">
                                    <i class="fa fa-4x fa-credit-card-alt text-primary sr-icons"></i>

                                    <p class="text-muted icon">Aceitamos todos os cartões (débito e crédito).</p>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-6 text-center">
                                  <div class="service-box">
                                    <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>

                                    <p class="text-muted icon">Funcionamos 24 horas.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <!-- Contato Section -->
                <section id="contato">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <br>
                        <h2>Entre em Contato</h2>
                        <hr class="star-primary">
                        <p class="text-muted">
                          A sua opinião é muito importante para nós, por isso criamos este canal para você realizar os seus comentários, dar sugestões e esclarecer dúvidas. Escreva para nossa equipe, teremos um imenso prazer em responder.
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                        <%= simple_form_for @contact do |f| %>
                        <!--<form name="sentMessage" id="contactForm" novalidate>-->
                        <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= f.input :name, label: 'Nome', placeholder: 'Nome', required: true %>
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= f.input :email, label: 'Email', placeholder: 'Email', required: true  %>
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= f.input :phone, label: 'Telefone', placeholder: 'Telefone', required: true %>
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= f.input :message, label: 'Mensagem', placeholder: 'Mensagem', required: true, input_html: { rows: 4 } %>
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                          <div class="form-group col-xs-12">
                            <%= f.submit "Enviar", class: 'btn btn-success btn-lg pull-right' %>
                            <!--<button type="submit" class="btn btn-success btn-lg pull-right">Enviar</button>-->
                          </div>
                        </div>
                        <% end %>
                        <!--</form>-->
                      </div>
                    </div>
                  </div>
                </section>

                <!-- Plugin JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

              </body>

              </html>
